@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: white;
    font-family: 'Inria', Georgia, serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
    font-size: 1.5rem; /* Relative size based on root font size */
}
/* header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: white;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
.logo {
    width: 80px; /* Fixed size for consistency */
    max-width: 4vw; /* Allows scaling on larger screens */
    margin-left: 10vw; /* Adjust for better centering */
}
#logo_link {
    padding-top: 5px;
    justify-self: right;
    align-self: center;
}
nav {
    display: flex;
    justify-content: right;
    background-color: white;
    position: sticky;
    top: 0;
    overflow: hidden;
}
nav a {
    text-align: right;
    color: #4F4F4F;
    text-decoration: none;
    font-size: 1rem;
    padding: 45px;
    margin-right: 10px;
    font-family: 'Aboreto';
}
nav a:hover {
    color: black;
    text-decoration: underline;
}
/* For smaller screens (e.g., max-width 768px), reduce font size and padding */
@media (max-width: 768px) {
    nav {
        flex-direction: column;  /* Stack the links vertically */
        align-items: flex-end; /* Align links to the right */
        justify-content: flex-start; /* Align items to the top */
    }

    nav a {
        font-size: 0.8em; /* Decrease font size */
        padding: 15px; /* Reduce padding to decrease space between links */
        margin-right: 0; /* Remove margin between links */
        margin-bottom: 5px; /* Add bottom margin to separate the links */
    }
}
/* landing page hero image */
#hero {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 250px;
    padding-left: 350px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#hero-msg h1 {
    margin-top: 0;
    text-align: left;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.banner-links {
    font-family: 'Aboreto';
    color: white;
    font-size: 1.3rem;
    line-height: 2.5;
    text-decoration: underline white;
}
#hero-img {
    width: 100%;
    height: auto; /* Ensure it scales with the width */
}
/* footer */
footer {
    background-color: white;
    color: #4F4F4F;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer a {
    color: #4F4F4F;
    text-decoration: none;
}
footer p {
    font-size: .8em;
}
footer .social img {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20px;
}
/* portfolio gallery */
.portfolio-title {
    margin: auto;
    width: 55%;
    font-size: 2.25rem;
    margin-top: 5%;
}
.portfolio-filter {
    display: flex;
    text-align: start;
    margin: auto;
    width: 55%;
    margin-top: 90px;
    flex-direction: row;
    column-gap: 20px;
}

.filter-btn {
    font-family: 'Aboreto';
    background-color: white;
    border: none;
    color: #4F4F4F;
    cursor: pointer;
}

.filter-btn.selected, .filter-btn:hover {
    border: 1px solid #4F4F4F;
    padding: 5px;
}
#gallery-intro {
    font-size: medium;
    color: #4F4F4F;
    margin: auto;
    width: 55%;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 4em;
    line-height: 20pt;
}
.gallery {
    column-count: 2;
    column-gap: 10px;
    width: 55%;
    margin: auto;
}
.gallery_img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px; /* to match column gap */
 }
 .gallery_img:hover {
     opacity: 0.7;
 }
 .photography-gallery.active {
    line-height: 0;
    column-count: 2;
    column-gap: 10px;
    width: 55%;
    margin: auto;
 }
 .gallery.hidden {
    display: none;
 }
 .graphicdesign-gallery {
    display: flex;
    width: 55%;
    justify-self: center;
    gap: .5rem;
    flex-direction: column;
 }
 .graphicdesign-gallery p {
    font-size: medium;
    color: #4F4F4F;
    line-height: 20pt;
 }
 .graphicdesign-gallery h2 {
    align-self: flex-start;
    font-size: 1.5rem;
    font-family: 'Aboreto';
    font-weight: lighter;
 }
 /* gallery modal */
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 1200px;
  }
  .modal-img {
    width: 100%;
    height: auto;
}
  
  /* The Close Button */
  .close {
    color: #999;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  img.demo {
    opacity: 0.6;
  }

/* about */
.work {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-self: center;
    margin-top: 5%;
}
.work h1{
    align-self: flex-start;
    font-size: 2.25rem;
    font-family: 'Aboreto';
    font-weight: lighter;
}
.work-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2%;
}
.work-cards img{
    width: 32% !important;
    object-fit: cover;
}
.work .contact_points {
    align-self: center;
    padding-top: 10%;
}
.about-grid{
    display: flex;
    width: 55%;
    justify-self: center;
    gap: .5rem;
}
.about-grid h1{
    font-size: 2.25rem;
    font-family: 'Aboreto';
    font-weight: lighter;
    margin: 0;
    margin-top: .5rem;
}
#about-images {
    display: flex;
    height: 19em;
    gap: 5px;
    padding: 10px;
    margin-bottom: 4em;
}
#about-info{
    font-size: medium;
    color: #4F4F4F;
    line-height: 20pt;
}
.about-text{
    display: flex;
    flex-direction: column;
}

/* contact */
.reach-out {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.reach-out h2{
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contact_points {
    display: flex;
    gap: 15px;
    overflow: visible;
    margin-bottom: 8em;
}

/* Basic styles for links and button */
.contact_points a, .contact_points button {
    font-size: 16px;
    font-family: 'Aboreto';
    padding: 10px 20px;
    text-decoration: none; /* Remove underline from links */
    border: none;
    background-color: black;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for scaling and color */
    border-radius: 5px; /* Optional: rounded corners */
}

/* Hover effect: increase size and change color */
.contact_points a:hover, .contact_points button:hover {
    transform: scale(1.2) !important; /* Use !important to ensure it applies */
}

/* Fun Fact */
.fun-fact {
    display: flex;
    width: 55%;
    justify-self: center;
    flex-direction: column;
    border: solid;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}
.fun-fact p{
    font-size: medium;
    color: #4F4F4F;
    line-height: 20pt;
    margin-top: 0.5;
    margin-bottom: 10%;
}

.fun-fact h1{
    font-size: 2.25rem;
    font-family: 'Aboreto';
    font-weight: lighter;
    margin: 0;
    margin-top: 10%;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}